@page "/walletconnect"
@using Blockcore.AtomicSwaps.Server.Controllers
@using NBitcoin
@using Blockcore.AtomicSwaps.BlockcoreWallet
@using Blockcore.AtomicSwaps.Client.Services

@inject Storage storage;
@inject SwapsConfiguration SwapsConfiguration;
@inject ILogger<WalletConnect> Logger;
@inject IBlockcoreWalletConnector WalletConnector
@inject IWalletService WalletService

<PageTitle>Wallet and balances</PageTitle>

<MudText Align="Align.Center" Typo="Typo.h4">Connected Wallets</MudText>
<MudText Align="Align.Center" Class="mb-8 mt-8"></MudText>

@if (!hasWallet)
{
    <MudAlert Severity="Severity.Normal" Class="mt-3 mb-3">Not wallet found please install the wallet at blockcore.net</MudAlert>
}
else
{
    @if (!string.IsNullOrEmpty(error))
    {
        <MudAlert Class="mt-3 mb-3" Severity="Severity.Error">@error</MudAlert>
    }

    <button class="btn btn-primary  mb-3 mt-3" disabled="@busy" @onclick="ConnectWallet">@(_walletAccounts.Connected ? "Refresh" : "Connect")</button>

    @if (_walletAccounts.Connected)
    {
        <MudTable Items="@_walletAccounts.Accounts" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Your Wallet</MudText>
                <MudSpacer />
                <MudTooltip Duration="1000" Text="Refresh">
                    <MudIconButton Icon="@Icons.Material.Outlined.Refresh" Color="Color.Info" disabled="@busy" @onclick="ConnectWallet" />
                </MudTooltip>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Coin</MudTh>
                <MudTh Class="text-end">Balance</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd Class="text-one-line" DataLabel="Coin">@context.Value.CoinSymbol</MudTd>
                <MudTd Class="text-one-line text-end" DataLabel="Balance">@Money.Satoshis(context.Value.Balance).ToUnit(MoneyUnit.BTC) @context.Value.CoinSymbol</MudTd>
            </RowTemplate>
        </MudTable>
    }
    else
    {
        <p>Please add accounts</p>
    }
}

<br/>
<p>@loadingStatus</p>

@code {
    private bool _loading;
    private WalletAccounts _walletAccounts = new WalletAccounts();

    private bool busy = false;
    private bool hasWallet;
    string error;

    string loadingStatus = string.Empty;

    List<string> _networkList = new();

    protected override async Task OnInitializedAsync()
    {
        hasWallet = await WalletConnector.HasBlockcoreWallet();
        _networkList = SwapsConfiguration.Networks.Keys.ToList();
        _walletAccounts = storage.GetOrCreate<WalletAccounts>();
    }

    private async Task ConnectWallet()
    {
        error = await WalletService.ConnectWallet(_walletAccounts);
    }

}
